{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="item">
            <h3>1. How Does NEWZZ$$ Work</h3>
            <p style="font-size: 18px;">newzzdollar.com earns revenue from the ads
                displayed on the site and the revenue gotten from the ads,
                so when users read articles or touch labeled ads they are rewarded
                a percentage of the revenue from those ads
            </p>
        </div>
        <div class="item">
            <h3>2. Payment Options</h3>
            <p style="font-size:18px;">newzzdollar.com only pays to <b>Paypal</b> or
            <b>Payoneer</b>, so do well to set a preffered payment option after log in to 
            avoid unexpected errors</p>
        </div>
        <div class="item">
            <h3>3. Tips and Tricks</h3>
            <p style="font-size: 18px;">
                * Reading an article is not as important as reaching the bottom of the page 
                ie for a users reward after clicking on an article to read to claimed!, users need to wait <b>10seconds</b> 
                then scroll to the bottom of the page, until they get an alert message, saying rewward has been claimed<br/>

                * The reward for an article can only be claimed once, but theres a trick --
                after claiming all 20 rewards from the articles on each session, reload your browser anad you can claim previous
                rewards again.
            </p>
        </div>
    </div>
{% endblock content %}